.word-details {
  display: grid;
  grid-template-columns: auto auto auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  width: 300px;
  .word-position {
    margin: 5px;
  }

  .word {
    margin: 5px;
  }

  .word-frequency {
    margin: 5px;
  }
}
